* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKTLTsoS8p5xDBQ7zN2deOZzaBYW5PbNh7FQ&usqp=CAU');
  background-repeat: no-repeat;
  background-size:cover;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 45%;
  min-height: 700px;
  background: white;
  text-align: center;
  margin-left: 370px;
  margin-top: 54px;
  border-radius: 10px;
  padding-bottom: 32px;
}

.important-btn {
  margin-right: 5px;
  width: 20px;
  border-width: 1px;
  border-radius: 49%;
  padding: 1px;
  border-color: white;
  color: white;
  background: transparent;
}

h1 {
  margin: 32px 0;
  font-size: 33px;
}

.complete {
  text-decoration: line-through;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(219, 219, 28);
  outline: none;
  width: 320px;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: rgb(226, 226, 21);
  color: white;
  text-transform: capitalize;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

input:focus{
    
  background: linear-gradient(45deg, #575f5e,#343837, #7a7b7c, #272829, #1b1e1f);
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: white;
  background: linear-gradient(45deg, #575f5e,#343837, #7a7b7c, #272829, #1b1e1f);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.iconsContainer {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.seperator {
  height: 1px;
  width: 80%;
  align-self: center;
  background-color: black;
}

header{
  font-weight: bold;
  font-size:x-large;
  background-color: rgb(78, 73, 73);
  display: flex;
  justify-content:space-between;
  border-left: 1px solid yellow;
  border-right: 2px solid rgb(65, 65, 99);
}

li{
  list-style: none;
  margin-left: 10px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}